<div>
    <h2>LOGIN</h2>
    <form #loginform="ngForm" (ngSubmit)="loginUser()">
        
        <small class="text-danger">{{msg}}</small>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" class="form-control" aria-describedby="emailHelp" id="emialId" name="emailId" [(ngModel)]="user.emailId" required pattern="^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$" 
          #email="ngModel"
          [class.is-invalid]="email.invalid && email.touched"
          >
          <!--<small class="text-danger" [class.d-none]="email.valid ||  email.untouched">Email ID is required</small>-->
          <div *ngIf="email.errors && email.invalid && email.touched">
            <small class="text-danger" *ngIf="email.errors.required">Email ID is required</small>
            <small class="text-danger" *ngIf="email.errors.pattern">Enter a valid Email ID</small>
          </div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" name="password" id="password" [(ngModel)]="user.password" required #password="ngModel"
          [class.is-invalid]="password.invalid && password.touched"
          >
          <small class="text-danger" [class.d-none]="password.valid || password.untouched">Password is required</small>
        </div>
        <button [disabled]="loginform.form.invalid" type="submit" class="btn btn-primary">Submit</button>
      </form>
      <!-- <small (click)="gotoregistration()">New User ? register here</small> -->
      <small [routerLink]="['/registration']">New User ? register here</small>
</div>